.analyze_content

  .analyze_cube
    = partial "partials/analyze/head"
    = partial "partials/analyze/body"

  .analyze_cube
    = partial "partials/analyze/head"
    = partial "partials/analyze/body"
