.cube_head

  .cube_head_left
    %span
      = partial "partials/svg/cube"
      %h2 Sales
    %section
      %h3 375 MB
      %h3 10 days ago

    .aui-buttons
      %a.aui-button.aui-button-compact.aui-button-primary{href: "#"} New Report
      %a.aui-button.aui-button-compact{href: "#"} New Folder
    .aui-buttons
      %a.aui-button.aui-button-compact{href: "#"} Empty
      %a.aui-button.aui-button-compact{href: "#"} Delete
    .aui-buttons
      %a.aui-button.aui-button-compact{href: "#"} Import Reports
      %a.aui-button.aui-button-compact{href: "#"} Export Reports

  .cube_head_right
    %div
      .aui-buttons.custom_toggle_buttons
        %a.aui-button{href: "#"}
          More
          %i.fa.fa-sort-desc
        %a.aui-button{href: "#"}
          %i.fa.fa-folder-open-o
          Move To
          %i.fa.fa-sort-desc
        %a.aui-button{href: "#"}
          %i.fa.fa-trash-o
          Delete
      .aui-buttons
        .aui-button
          %input{type: "checkbox"}
          Select
          %i.fa.fa-sort-desc

    %div
      %section
        %span Views:
        %a{class: is_page_current_exact("/analyze/") ? "current": "", href: "/analyze"}
          %i.fa.fa-th
        %a{class: is_page_current_exact("/analyze/list/") ? "current": "", href: "/analyze/list"}
          %i.fa.fa-align-justify
      %section
        %input{type: "search", placeholder: "Search"}
        %button
          %i.fa.fa-search