@charset "utf-8";

$red-eazy:              #b73838;
$blue-eazy:             #427eae;
$green-eazy:            #77b738;

//AUI
$light-gray:            #f5f5f5;
$silver:                #e9e9e9;
$ash-grey:              #cccccc;
$grey:                  #999999;
$medium-grey:           #707070;
$charcoal:              #333333;

$navy:                  #205081;
$red:                   #d04437;
$yellow:                #f6c342;
$green:                 #14892c;
$pale_blue:             #ebf2f9;
$blue:                  #3572b0;

$rosie:                 #f691b2;
$bright-pink:           #f15c75;
$mauve:                 #ac707a;
$violet:                #654982;
$mid-green:             #67ab49;
$lime-green:            #8eb021;
$cool-blue:             #84bbc6;
$slate:                 #4a6785;
$cyan:                  #59afe1;
$light-brown:           #d39c3f;
$tan:                   #f1a257;
$cheeto-orange:         #f79232;
$brown:                 #815b3a;


$border-radius:         4px;

//===================================================================================

