%svg{viewbox: "0 0 20 20"}
  %polygon{fill: "#414042", points: "1.331,2.901 11.194,5.904 18.635,2.253 9.454,0 \t"}
  %polygon{fill: "#414042", points: "0,4.437 10,7.713 10,20 0.938,15.256 \t"}
  %polygon{fill: "#414042", points: "12.389,7.747 19.829,3.652 18.806,14.368 12.219,20 \t"}
