%svg.folder_icon{viewbox: "0.5 -0.5 20 20"}
  %g
    %rect{height: "15", width: "20", y: "4.5", x: "0.5"}
    %polygon{points: "19.5,1.5 19.5,3.5 0.5,3.5 0.5,1.386 0.5,0.709 0.5,0.5 6.5,0.5 6.5,1.5 "}