%svg.folder_icon{viewBox: "0.5 -0.5 20 20"}
  %polygon{points: "19.5,1.5 19.5,3.5 0.5,3.5 0.5,1.386 0.5,0.709 0.5,0.5 6.5,0.5 6.5,1.5 "}
  %g
    %path{d: "M10.615,11.411c-0.715,0-1.534,0.585-1.534,1.3c0,0.484,0.418,0.905,0.418,1.129v1.66h2v-1.66\n\t\tc0-0.224,0.537-0.645,0.537-1.129C12.037,11.996,11.336,11.411,10.615,11.411z"}
    %polygon{points: "8.5,9.5 8.5,10.5 12.5,10.5 12.5,9.5 12.5,8.5 8.5,8.5 \t"}
    %path{d: "M0.5,4.5v15h20v-15H0.5z M14.5,16.5h-8v-6h1v-1V8.215V7.5h0.586h5.063H13.5v0.715V9.5v1h1V16.5z"}