%svg.folder_icon{viewBox: "0.5 -0.5 20 20"}
  %polygon{points: "19.5,1.5 19.5,3.5 0.5,3.5 0.5,1.386 0.5,0.709 0.5,0.5 6.5,0.5 6.5,1.5 "}
  %path{d: "M0.5,4.5v15h20v-15H0.5z M13.591,16.614L10.5,14.99l-3.09,1.624L8,13.174l-2.5-2.437l3.455-0.502l1.545-3.13\n\tl1.545,3.13l3.455,0.502L13,13.174L13.591,16.614z"}