%svg{viewbox: "0 0 20 20"}
  %path{d: "M18,0H2C0.896,0,0,0.896,0,2v16c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V2C20,0.896,19.104,0,18,0z\r\n\t M6,18H2v-4h4V18z M6,12H2V8h4V12z M12,18H8v-4h4V18z M12,6H8V2h4V6z M18,12h-4V8h4V12z M18,6h-4V2h4V6z", fill: "#414042"}
