%svg.gauge_icon{viewbox: "0 0 20 20"}
  %path{d: "M4.604,14.5c-0.002,0-0.004-0.089-0.004-0.149\r\n\t\tc0-2.982,2.418-5.384,5.4-5.384c2.982,0,5.4,2.394,5.4,5.376c0,0.061-0.003,0.157-0.005,0.157h3.603\r\n\t\tc0.001,0,0.002-0.089,0.002-0.149c0-4.971-4.029-8.984-9-8.984s-9,4.007-9,8.977C1,14.403,1.001,14.5,1.002,14.5H4.604z", fill: "none", :stroke => "#414042", "stroke-miterlimit" => "10"}
  %path{d: "M1,14.6C1,14.662,1.001,15,1.002,15h3.603C4.603,15,4.6,14.662,4.6,14.6c0-2.98,2.417-5.508,5.4-5.508\r\n\t\tc1.436,0,2.738,0.506,3.705,1.418l2.548-2.574C14.634,6.372,12.43,5.505,10,5.505C5.029,5.505,1,9.63,1,14.6z"}
