%svg{viewBox: "0.5 -0.5 20 20"}
  %rect{height: "16", width: "1", x: "0.5", y: "1.5"}
  %rect{height: "1", width: "20", x: "0.5", y: "16.5"}
  %polygon{points: "3.947,14.724 3.053,14.276 5.363,9.656 8.281,12.574 10.208,6.795 14.369,8.875 19.116,3.18 \n\t19.884,3.82 14.631,10.125 10.792,8.205 8.719,14.426 5.637,11.344 "}