%svg.line_icon{viewbox: "0 0 20 20"}
  %rect{height: "16", width: "1", y: "2"}
  %rect{height: "1", width: "20", y: "17"}
  %polyline{fill: "none", points: "5,13 7,5 12,11 18,3 ", :stroke => "#414042", "stroke-miterlimit" => "10"}
  %circle{cx: "4.5", cy: "13.5", r: "1.5"}
  %circle{cx: "7.5", cy: "5.5", r: "1.5"}
  %circle{cx: "12.5", cy: "11.5", r: "1.5"}
  %circle{cx: "17.5", cy: "3.5", r: "1.5"}
