%svg{viewbox: "0 0 20 20"}
  %path{d: "M11,9h8c0-4.418-3.582-8-8-8V9z"}
  %path{d: "M19,11h-8l4.904,6.306C17.785,15.842,19,13.566,19,11z"}
  %path{d: "M9,3c-4.418,0-8,3.582-8,8c0,4.418,3.582,8,8,8c1.506,0,2.907-0.425,4.109-1.15L9,11V3z"}
