%svg{viewBox: "0 0 20 20"}
  %path{d: "M20,4c0-1.104-0.896-2-2-2H2C0.896,2,0,2.896,0,4v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V4z M12,16\n\tH8v-2h4V16z M12,12H8v-2h4V12z M12,8H8V6h4V8z M18,16h-4v-2h4V16z M18,12h-4v-2h4V12z M18,8h-4V6h4V8z"}