%svg{viewBox: "117.5 117.5 20 20"}
  %rect{height: "16", width: "1", x: "117.5", y: "119.5"}
  %rect{height: "1", width: "20", x: "117.5", y: "134.5"}
  %rect{height: "1", width: "1", x: "121.5", y: "133.5"}
  %rect{height: "1", width: "1", x: "125.5", y: "133.5"}
  %rect{height: "1", width: "1", x: "129.5", y: "133.5"}
  %rect{height: "1", width: "1", x: "133.5", y: "133.5"}
  %polygon{points: "120.778,130.854 120.146,130.146 127.011,122.459 127.904,128.459 131.301,124.656 133.088,128.656 \n\t136.223,125.146 136.854,125.854 132.844,130.344 131.057,126.344 127.31,130.541 126.416,124.541"}