%svg{viewbox: "0 0 20 20"}
  %g
    %rect{fill: "#414042", height: "15", width: "1", y: "2"}
    %rect{fill: "#414042", height: "1", width: "20", y: "17"}
  %polyline{fill: "#414042", points: "3,15 3,10.518 5.277,5.094 8.793,10.781 12.461,8.691 16.13,11.549 20,6.549 20,15 \t"}
