.analyze_content {

  .analyze_cube {

    .cube_body {
      padding: 10px 0;
      background: lighten($light-gray, 1%);
      text-align: left;

      & > section {
        max-width: 1572px;
        margin: auto;
      }

      .cube_cell {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        height: 40px;
        position: relative;
        margin: 2px 2px 4px 1px;
        border-radius: $border-radius;
        background: white;
        @extend %clearfix;

        &:hover {

          p {
            text-decoration: underline;
          }

          button {
            display: block;
          }
        }

        .cell_icon {
          min-height: 40px;
          height: auto;
          width: 32px;
          border-right: 1px solid $light-gray;
          float: left;

          i {
            width: 20px;
            height: 20px;
            position: absolute;
            display: block;
            font-size: 20px;
            left: 6px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }

        .cell_text {
          float: right;
          min-height: 30px;
          width: 207px;
          position: relative;
          padding: 5px;
          display: flex;

          p {
            align-self: center;
            font-size: .9em;
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 208px;
            color: $blue;
          }
        }

        button {
          border: none;
          background: none;
          width: 30px;
          height: auto;
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: white;
          opacity: .4;
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          z-index: 100;

          &:hover {
            opacity: .9;
          }

          i {
            display: block;
            font-size: 1.25em;
            margin: auto;
            color: $medium-grey;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {

  .analyze_content {

    .analyze_cube {

      .cube_body {

        & > section {
          max-width: 1281px;
        }
      }
    }
  }
}
