.analyze_content {
  padding: 40px 20px 40px;

  .analyze_cube {
    margin: 50px auto 0;

    .fa-sort-desc {
      margin: 0 10px 0 3px;
      position: relative;

      &::before {
        display: block;
        margin-top: -9px;
        position: absolute;
        top: -5px;
      }
    }

    .fa-sort-asc {
      margin: 0 10px 0 3px;
      position: relative;

      &::before {
        display: block;
        position: absolute;
        top: -1px;
      }
    }

    .cube_head {
      border-bottom: 1px solid $ash-grey;
      padding-bottom: 10px;
      @extend %clearfix;

      .cube_header {
        @extend %clearfix;

        & > span {
          display: block;
          height: 32px;
          margin-bottom: 10px;
          float: left;

          svg {
            width: 30px;
            height: 30px;
            margin-top: 2px;

            polygon {
              fill: $medium-grey;
            }
          }

          h2 {
            display: inline-block;
            vertical-align: top;
            margin: 2px 0 0;
            padding: 0;
            color: $medium-grey;
          }
        }

        .aui-buttons {
          float: left;
          margin: 10px 0 0;
          height: auto;

          .aui-button-link {
            border: none;
            padding: 0;
            margin: 0 0 0 10px;
            height: auto;
            
            &:last-of-type {
              color: $red;
            }
          }
        }

        .cube_data {
          margin: 10px 0 0 10px;
          float: left;

          h3 {
            display: inline-block;
            margin: 0;
            font-size: 1em;
            font-weight: bold;
            color: $medium-grey;

            &::before {
              font-weight: normal;
              display: inline-block;
              margin-right: 5px;
              font-size: .9em;
            }

            &:first-of-type {
              padding-right: 6px;

              &::before {
                content: "Size:";
              }
            }

            &:last-of-type {

              &::before {
                content: "Last import:";
              }
            }
          }
        }

        .cube_searchblock {
          line-height: 0;
          margin-top: 5px;
          float: right;

          section {
            display: inline-block;
            line-height: 1.5;

            &:first-of-type {
              padding-right: 6px;
              height: 23px;
              padding-top: 2px;
              vertical-align: top;

              span {
                display: inline-block;
                vertical-align: top;
                margin: 2px 5px 0 0;
                font-size: .9em;
                color: $grey;
              }

              a {
                display: inline-block;

                &:first-of-type {
                  margin-right: 2px;
                }

                &:hover,
                &:active,
                &:focus {
                  text-decoration: none;

                  i {
                    color: darken($ash-grey, 15%);
                  }
                }

                i {
                  display: block;
                  font-size: 24px;
                  color: $ash-grey;
                }
              }

              a.current {

                i {
                  color: $grey;

                  &:hover {
                    color: $medium-grey;
                  }
                }
              }
            }

            &:last-of-type {
              @extend %clearfix;
              padding-left: 10px;
              border-left: 1px solid $ash-grey;

              input {
                border: 1px solid $ash-grey;
                display: block;
                width: 250px;
                float: left;
                height: 22px;
                padding-left: 10px;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
              }

              button {
                float: left;
                display: block;
                margin-left: -1px;
                border: none;
                padding: 0;
                background: none;

                &:hover {

                  i {
                    background: $silver;
                    color: $medium-grey;
                    border: 1px solid $grey;
                  }
                }

                i {
                  height: 20px;
                  width: 42px;
                  padding: 4px 0 0;
                  display: block;
                  margin: 0;
                  color: $grey;
                  border: 1px solid $ash-grey;
                  border-top-right-radius: $border-radius;
                  border-bottom-right-radius: $border-radius;
                  background: $light-gray;
                }
              }
            }
          }
        }
      }

      .cube_head_left {
        width: 600px;
        height: 100%;
        float: left;

        .aui-buttons:last-of-type {
          margin-left: 6px;
        }
      }

      .cube_head_right {
        float: right;
        height: 100%;
        width: calc(100% - 600px);
        text-align: right;
        position: relative;
        margin: 0;
        padding: 0;

        .custom_invisible {
          display: none;
        }

        .custom_visible {
          display: inline-block;
        }

        .show_reports {
          display: none;
        }

        .aui-buttons {

          i {
            margin-right: 5px;

            &::before {
              margin-top: -7px;
            }
          }

          input {
            width: 14px;
            height:14px;
            margin-right: 5px;
            margin-top: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
